[Unit]
Description=gunicorn daemon for django_prack project
Requires=gunicorn_djangomovie.socket
After=network.target

[Service]
PermissionsStartOnly=True
User=nursultan
Group=www-data
RuntimeDirectory=gunicorn
RuntimeDirectoryMode=0775
PIDFile=/run/gunicorn/pid
WorkingDirectory=/home/nursultan/django_prack
ExecStart=/home/nursultan/django_prack/env/bin/gunicorn \
        --access-logfile /home/nursultan/django_prack/logs/access.log \
        --error-logfile /home/nursultan/django_prack/logs/error.log \
        --pid /run/gunicorn/pid \
        --env DJANGO_SETTINGS_MODULE=django_movie.settings \
        --workers 3 \
        --bind unix:/run/gunicorn/django_prack_socket  django_movie.wsgi:application
ExecReload=/bin/kill -s HUP $MAINPID
ExecStop=/bin/kill -s TERM $MAINPID
PrivateTmp=true

[Install]
WantedBy=multi-user.target
