[Unit]
Description=gunicorn daemon for djangomovie project
Requires=gunicorn_djangomovie.socket
After=network.target

[Service]
PermissionsStartOnly=True
User=dastan
Group=www-data
RuntimeDirectory=gunicorn
RuntimeDirectoryMode=0775
PIDFile=/run/gunicorn/pid
WorkingDirectory=/home/nursultan/djangomovie
ExecStart=/home/nursultan/djangomovie/env/bin/gunicorn \
          --access-logfile /home/nursultan/djangomovie/logs/access.log \
          --error-logfile /home/nursultan/djangomovie/logs/error.log \
          --pid /run/gunicorn/pid   \
          --env DJANGO_SETTINGS_MODULE=django_movie.settings \
          --workers 3 \
          --bind unix:/run/gunicorn/djangomovie_socket django_movie.wsgi:application
ExecReload=/bin/kill -s HUP $MAINPID
ExecStop=/bin/kill -s TERM $MAINPID
PrivateTmp=true

[Install]
WantedBy=multi-user.target