[Unit]
    Description=gunicorn socket for django_prack project

[Socket]
    ListenStream=/run/gunicorn/django_prack_socket

[Install]
    WantedBy=sockets.target
